@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    color: #181818;
}

body {
    background-color: #f3f3f3;
    position: relative;
}

.container {
    display: grid;
    grid-template-columns: 300px 1fr;
}

.container nav {
    box-shadow: 5px 0 10px #00000033;
    display: flex;
    flex-direction: column;
    margin-top: 104px;
    min-height: calc(100vh - 104px);
    background-color: #ffffff;
}

.container nav li {
    border-bottom: 1px solid #00000070;
    box-shadow: 0 5px 5px #00000013;
    list-style: none;
}

.container nav button {
    border: 0;
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    height: 70px;
    align-items: center;
}

.container nav button:hover:not(.selected) {
    background-color: #ececec;
    cursor: pointer;
}

.container .selected {
    background-color: #c9c9c9;
}

.container .selected p {
    font-weight: 500;
}

.selected:hover {
    cursor: pointer;
}

.container nav p {
    font-weight: 300;
    font-size: 1.75rem;
    font-family: 'Montserrat';
    color: #181818
}

.content {
    margin-top: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-div {
    display: block;
}

.quiz-div {
    width: 100%;
    height: 100%;
    display: none;
}

.perguntas-div h1 {
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 3rem;
    margin-top: 40px;
    letter-spacing: 2px;
}

.perguntas-div p {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 1.5rem;
    margin: 10px 100px 0;
}

.perguntas-div > div {
    margin: 40px 100px 0;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.perguntas-div label {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1.2rem;
}

.perguntas-div button {
    margin-top: 30px;
    grid-area: k;
    width: 160px;
    height: 40px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1.3rem;
    border-radius: 20px;
    border: 0;
    background-color: rgb(120, 32, 13);
    color: #fff;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    align-self: center;
}

.perguntas-div button:hover {
    cursor: pointer;
    background-color: rgb(82, 21, 9);
}

.perguntas-div > div > div {
    display: flex;
    gap: 15px;
}

.perguntas-div input {
    width: 15px;
}

.conclusao-div {
    display: none;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.conclusao-div h1 {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 10rem;
    letter-spacing: 10px;
    text-align: center;
    margin-top: 75px;
}

.conclusao-div button {
    width: 200px;
    height: 50px;
    border: 0;
    border-radius: 25px;
    background-color: rgb(120, 32, 13);
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1.8rem;
    box-shadow: 0 0 10px #00000094;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.conclusao-div button:hover {
    cursor: pointer;
    background-color: rgb(82, 21, 9);
}