@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    color: #181818;
    font-family: 'Montserrat';
}

body {
    background-color: #f3f3f3;
    position: relative;
}

h1 {
    font-family: 'Montserrat';
    text-align: center;
    font-weight: 900;
    font-size: 6rem;
    letter-spacing: 5px;
    margin: 0 0 0rem;
    padding: calc(2rem + 84px) 0 0 0;
}

ol {
    justify-items: center;
    width: 100%;
}

ol li {
    list-style: none;
    margin-bottom: 50px;
    display: flex;
    gap: 40px;
    position: relative;
}


ol li:last-child {
    margin-bottom: 0;
}

.modulo {
    background-color: #e6e6e6;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.342);
}

.modulo h2 {
    text-align: center;
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: 5px;
}

.modulo img {
    height: 125px;
    width: 125px;
}

.modulo > p {
    margin-top: 5px;
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
}

.modulo button{
    width: 130px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 1.2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.205);
    background-color: rgb(120, 32, 13);
    color: #ffffff;
    transition: background-color .1s ease-in-out;
    border: 0;
    margin-top: 15px;
}

.modulo button:hover {
    background-color: rgb(82, 21, 9);
    cursor: pointer;
}

.modulo button:active {
    background-color: rgb(146, 48, 26);
}

.info {
    width: 300px;
    font-size: 1.25rem;
    align-content: center;
}

.line1 {
    width: 40px;
    height: 50px;
    background-color: #e6e6e6;
    position: absolute;
    top: 300px;
    left: 130px;
}

.line2 {
    width: 40px;
    height: 50px;
    background-color: #e6e6e6;
    position: absolute;
    bottom: 300px;
    left: 130px;
}

.back-button {
    width: 155px;
    height: 45px;
    border-radius: calc(45px/2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.205);
    background-color: rgb(120, 32, 13);
    color: #ffffff;
    transition: background-color .1s ease-in-out;
    border: 0;
    justify-self: center;
    margin-bottom: 80px;
}

.back-button:hover {
    background-color: rgb(82, 21, 9);
    cursor: pointer;
}

.back-button:active {
    background-color: rgb(146, 48, 26);
}

.bottom-shadow {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 300px;
    background-image: linear-gradient(#e6e6e600, #afafaf 70%);
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 15px;
}